$primary: #FF5815;
$secondary: #cecece;
$dark:#272727;
$black:  #101010;
$headerblack: #0E0E0E;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";