
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
    min-height: 1000px;
    background-color: #272727;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

h4{
    color: white;
    font-family: $font-family-serif;
}

.description{
    font-size: 16px;
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

#formulaireInscription{
    max-width: 300px;
    input{
        width:300px;
    }
}

.hero-scene{
    position: relative;
    margin-bottom:15px;
    background-image: url(../images/FondHeroScene.jpg);
    background-size: cover;
    filter: brightness(0.8);
    background-position: center;
    height: 200px;
    width:100%;
    /*&::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-position: center;
    }*/

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.price-card{
    background-color: #FF5815;
    position: absolute;
    padding: 0 8px;
    font-size: 16px;
    bottom: 0px;
    right:16px;
    border-radius: 5px;
}

.promotion-card{
    background-color: #00861d;
    position: absolute;
    padding: 0 8px;
    font-size: 16px;
    bottom: 0px;
    left:16px;
    border-radius: 5px;
}

.buy-section{
    text-align: center;
    margin-top: 20px;
}

#gamePicture{
    margin-top: 20px;
    width:100%;
    height:auto;
}

#gameName{
    margin-top: 10px;
}

.price-container {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 15px; /* Espace entre les éléments */
    margin-bottom: 10px;
}

#gamePrice {
    font-size: 1rem;
    margin: 0;
}

#gamePromotion {
    display: none;
    font-size: 1rem;
    color: #FF5815;
    margin: 0;
}

#gameFinalPrice {
    font-size: 1.5rem;
    margin: 0;
}

#addToCart {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FF5815;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addToCart:hover {
    background-color: #ff5715d7;
}

.menu-plateformes{
        display:flex;
        justify-content: center;
        align-items: center;
    a{
        padding: 8px;
        text-decoration: none;
        color: white;
    }
    .link-plateforme:hover{
        color:#FF5815;
    }
}

.btn-search{
    height: 45px;
    width: 45px;
    border-radius: 45px;
    background-color:#FF5815;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.btn-search:hover{
    height: 50px;
    width: 50px;
}

.signin-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height:70vh;
    margin-top:15px;
    align-items: center;
}

.signin-form form input{
    max-width: 700px;
    min-width: 200px;
    height: 100%;
}

.photo-signin{
    position:relative;
    height:50%;
    width:50%;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.photo-signin img{
    object-position: 50% 50%;
}

.achats{
    padding:110px;
    width:100%;
    height: 350px;
    background-color : #3C3C3C;
    border-radius: 10px;
    margin-bottom: 500px;
    text-align: center;
    color:white;
    p{
        font-size: 15px;
        color:#9e9e9e;
    }
}

.resume{
    padding: 30px;
    width:100%;
    height: 300px;
    background-color : #101010;
    border-radius: 10px;
    p{
        color:#9e9e9e;
        font-size: 16px;
        margin:1px;
    }
    h4{
        margin-top:8px;
        font-size: 16px;
    }
    .resume-button{
        text-align: center;
    }
}

.panier{
    padding:50px;
}

.panier-resume{
    padding-top:50px;
}

.text-justify{
    text-align: justify;
}

//On affiche le titre de l'image en passant dessus
.image-card{
    position:relative; //Permet au titre d'être centré sur l'image et pas sur tout l'espace
    height: auto;
    overflow: hidden;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
        object-fit: cover;
        width: 100%; 
        height: auto;
        aspect-ratio: 16/9;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%); //On ajuste la position du titre
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-buttons{
        position : absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

.form-label{
    color: $primary;
}

.dropdown-menu{
    position:absolute;
    right:100px;
}

.button-menu{
    position:relative;
}

.menu-drop{
    position:absolute;
    display: none;
    left: -50px;
    z-index:1000;
    background-color: #272727;
    color: white;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-drop li:hover{
    color:#FF5815;
}

.button-menu:hover .menu-drop{
    display:block;
}

.navbar{
    max-height: 77px;
}

.navbar-nav{
    flex-direction: row;
    align-items: center;
}

.nav-item{
    padding: 0 8px;
}

@media screen and (min-width: 720px) and (max-width: 2560px) { 
    .hero-scene{
        background-position: top;
        height: 600px;
    }
    .nav-item{
        padding: 0;
    }
    .price-card{
        font-size: 22px;
    }
    .promotion-card{
        font-size: 22px;
    }
}
